.reference-main-wrapper {
    padding: 15px;
    margin-bottom: 15px;
    background: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 0 1.5px 1px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.12);
}
.reference-main-wrapper {
    float: left;
    width: 100%;
}
.shortcode .reference-knowledgebase-search-field,
#content.site-content #content-left-col #primary.content-area .shortcode article.hentry {
    box-shadow: none;
}
/**
 * Archives knowledgebase
 */
.category-listings .reference-cat-image {
    margin-right: 0;
}
.knowledgebase.archive .archive-type {
    display: none;
}
/**
 * Knowledgebase Category Header
 */
.knowledgebase.archive.tax-knb-categories .page-header {
    padding: 0;
    box-shadow: none;
    border: none;
}
.reference-header-image,
.reference-header-info {
    display: inline-block;
    vertical-align: top;
}
.reference-header-image {
    width: 15%;
}
.reference-header-info {
    width: 84%;
}
.knowledgebase .page-header .letter-thumbnail,
.knowledgebase .page-header .attachment-reference-knowledgebase-thumbnail {
    position: relative;
    width: 100px;
    max-width: 100%;
}
.reference-header-image a,
.knowledgebase .page-header .letter-thumbnail {
    width: 100%;
    display: inline-block;
}
.knowledgebase .page-header .letter-thumbnail {
    height: 100px;
    line-height: 90px;
}
.knowledgebase .page-header .archive-title,
.knowledgebase .page-header p {
    width: 100%;
}
article.knowledgebase h1.entry-title {
    margin-top: 0;
}
/**
 * Archive category list
 */
.category-listings {
    /*margin-bottom: 0;*/
}
/**
 * Archive knowledgebase count
 */
#reference-message,
.reference-knowledgebase-count {
    padding: 10px 15px;
    background: #fafafa;
    border: 1px solid #eceff1;
    border-radius: 6px;
}
#reference-message p {
    margin-bottom: 0;
}
/**
 * Syntax Highlighter
 */
.reference-highlighter {
    padding: 2.5px;
}
/**
 * Single knowledgebase
 */
#content.site-content #content-left-col #primary.content-area .reference-main-wrapper article.hentry {
    box-shadow: none;
    margin: 0 -15px;
}
.single-knowledgebase #content.site-content #content-left-col #primary.content-area .reference-main-wrapper article.hentry {
    margin: 0;
    padding-top: 0;
}
.search  #content.site-content #content-left-col #primary.content-area .reference-main-wrapper article.hentry:first-of-type {
    margin-top: 35px;
}
.reference-has-table-of-content .reference-menu-container {
    float: left;
}
.reference-has-table-of-content .reference-single-content {
    float: right;
}
.reference-menu-container ol.sub-menu li > ol.sub-menu {
    padding-left: 0;
}
.reference-menu-container ol.sub-menu li > ol.sub-menu li:before {
    display: none;
}
/**
 * Reference Breadcrumbs
 */
#breadcrumbs-wrap {
    margin: 15px 0;
}
/**
 * Reference Search
 */
.reference-knowledgebase-search-field {
    padding: 15px 15px 25px;
    margin-bottom: 15px;
    background: #fafafa;
    border: 1px solid #eceff1;
    border-radius: 6px;
}
.reference-knowledgebase-search-field input[type=text] {
    margin-bottom: 0;
}
/**
 * Reference Table of Contents
 */
.reference-has-table-of-content {
    width: 100%;
    padding-top: 15px;
    float: left;
}
#content.site-content #content-left-col #primary.content-area .reference-main-wrapper .reference-has-table-of-content article {
    padding: 0;
}
.reference-menu-wrap {
    padding: 15px;
    background: #fafafa;
    border: 1px solid #eceff1;
    border-radius: 6px;
    box-shadow: none;
}
.reference_nav_is_sticky {
    margin-bottom: 30px;
}
/**
 * Reference Feedback
 */
.reference-feedback-container {
    margin: 15px 0;
    background: #fafafa;
    border-color: #eceff1;
}
/**
 * Reference Comment
 */
.reference-main-wrapper .comments-area {
    background: #fafafa;
    border: 1px solid #eceff1;
    border-radius: 6px;
    box-shadow: none;
}
@media (min-width: 992px) {
    .reference-has-table-of-content .reference-single-content {
        padding-right: 0;
    }
}
@media (max-width: 992px) {
    .reference-has-table-of-content .reference-single-content {
        width: 100%;
        padding-right: 0;
    }
    .single-knowledgebase .reference-has-table-of-content {
        position: static!important;
    }
    .single-knowledgebase .reference-has-table-of-content .reference-menu-container {
        position: absolute;
        top: 85px;
        left: 25px;
        min-width: 300px;
        max-width: 300px;
    }
    .single-knowledgebase .reference-menu-container.reference_nav_is_stuck {
        bottom: 0;
    }
    .single-knowledgebase .reference-has-table-of-content .reference-menu-container {
        -webkit-transition: left 0.5s ease-in-out;
           -moz-transition: left 0.5s ease-in-out;
                transition: left 0.5s ease-in-out;
        left: -285px;
    }
    .single-knowledgebase .reference-has-table-of-content .reference-menu-container:hover {
        left: 25px;
    }
    .single-knowledgebase .reference-has-table-of-content .reference-menu-wrap.is_stuck:before {
        right: -26px;
    }
    .single-knowledgebase .reference-has-table-of-content .reference-menu-wrap.is_stuck:after {
        right: -20px;
    }
    .single-knowledgebase .reference-has-table-of-content .reference-menu-wrap:before,
    .single-knowledgebase .reference-has-table-of-content .reference-menu-wrap:after {
        content: '';
        display: inline-block;
        position: absolute;
    }
    .single-knowledgebase .reference-has-table-of-content .reference-menu-wrap:before {
        width: 25px;
        height: 25px;
        background: #1c1c1c;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        right: -10px;
        top: 25px;
    }
    .single-knowledgebase .reference-has-table-of-content .reference-menu-wrap:after {
        width: 15px;
        height: 2.5px;
        background: #ffffff;
        right: -5px;
        top: 36.5px;
    }
}
@media (max-width: 768px) {
}
@media (max-width: 480px) {
    .reference-header-image {
        width: 25%;
    }
    .reference-header-info {
        width: 70%;
        padding-left: 10px;
    }
    .knowledgebase .page-header .letter-thumbnail {
        height: 70px;
        line-height: 70px;
    }
    .knowledgebase.archive .page-header {
        padding-left: 37%;
    }
    .category-listings {
        border-top: none;
    }
    .category-listings .category-column:first-child {
        border-top: 1px solid #dfdfdf;
    }
    .category-listings .category-column:last-of-type {
        margin-bottom: 0;
    }
}
