/**
 * archive category
 */
body.archive.tax-knb-categories.knowledgebase .page-header {
    width: 100%;
    float: none;
}
body.archive.knowledgebase #primary article.knowledgebase {
    width: 100%;
}

body.knowledgebase .pagination {
    border-top-width: 0;
}
