.reference-feedback-container,
.reference-menu-wrap,
.category-listings:not(.shortcode),
#breadcrumbs-wrap,
.knowledgebase-count,
.reference-knowledgebase-search-field {
    padding: 15px;
    margin-bottom: 15px;
    background: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 0 1.5px 1px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.12);
}
.shortcode .reference-knowledgebase-search-field,
#content.site-content #content-left-col #primary.content-area .shortcode article.hentry {
    box-shadow: none;
}
/**
*Archives knowledgebase
*/
.category-listings .reference-cat-image {
    margin-right: 0;
}
.knowledgebase.archive .archive-type {
    display: none;
}
.knowledgebase.archive.tax-knb-categories .page-header {
    position: relative;
    padding-left: 140px;
    min-height: 130px;
}
.knowledgebase .page-header .letter-thumbnail,
.knowledgebase .page-header .attachment-reference-knowledgebase-thumbnail {
    position: relative;
    left: 15px;
    width: 100%;
    height: auto;
}
.knowledgebase .page-header .letter-thumbnail {
    padding: 0;
    line-height: 100px;
    position: absolute;
    width: 115px;
    height: 100px;
}
.knowledgebase.tax-knb-categories .page-header > a:first-child {
    display: inline-block;
    position: absolute;
    left: 0;
    width: 130px;
    height: 100px;
    overflow: hidden;
}
.reference-knowledgebase-search-field {
    margin-bottom: 15px;
}
.reference-knowledgebase-search-field input[type=text] {
    margin-bottom: 0;
}
article.knowledgebase h1.entry-title {
    margin-top: 0;
}
article.knowledgebase .entry-content p {
    margin-bottom: 0;
}
/**
* Syntax Highlighter
*/
.reference-highlighter {
    padding: 2.5px;
}
/**
* Single knowledgebase
*/
.reference-has-table-of-content .reference-menu-container {
    float: left;
}
.reference-has-table-of-content .reference-single-content {
    float: right;
    margin-bottom: 15px;
}
.reference-menu-container ol.sub-menu li > ol.sub-menu {
    padding-left: 0;
}
.reference-menu-container ol.sub-menu li > ol.sub-menu li:before {
    display: none;
}
.reference-feedback-container {
    margin: 15px 0;
}
@media (min-width: 992px) {
    .reference-has-table-of-content .reference-single-content {
        padding-right: 0;
    }
}
@media (max-width: 992px) {
    .reference-has-table-of-content .reference-single-content {
        width: 100%;
        padding-right: 0;
    }
    .single-knowledgebase .reference-has-table-of-content {
        position: static!important;
    }
    .single-knowledgebase .reference-has-table-of-content .reference-menu-container {
        position: absolute;
        top: 85px;
        left: 25px;
        min-width: 300px;
        max-width: 300px;
    }
    .single-knowledgebase .reference-menu-container.reference_nav_is_stuck {
        bottom: 0;
    }
    .single-knowledgebase .reference-has-table-of-content .reference-menu-container {
        -webkit-transition: left 0.5s ease-in-out;
           -moz-transition: left 0.5s ease-in-out;
                transition: left 0.5s ease-in-out;
        left: -285px;
    }
    .single-knowledgebase .reference-has-table-of-content .reference-menu-container:hover {
        left: 25px;
    }
    .single-knowledgebase .reference-has-table-of-content .reference-menu-wrap.is_stuck:before {
        right: -26px;
    }
    .single-knowledgebase .reference-has-table-of-content .reference-menu-wrap.is_stuck:after {
        right: -20px;
    }
    .single-knowledgebase .reference-has-table-of-content .reference-menu-wrap:before,
    .single-knowledgebase .reference-has-table-of-content .reference-menu-wrap:after {
        content: '';
        display: inline-block;
        position: absolute;
    }
    .single-knowledgebase .reference-has-table-of-content .reference-menu-wrap:before {
        width: 25px;
        height: 25px;
        background: #1c1c1c;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        right: -10px;
        top: 25px;
    }
    .single-knowledgebase .reference-has-table-of-content .reference-menu-wrap:after {
        width: 15px;
        height: 2.5px;
        background: #ffffff;
        right: -5px;
        top: 36.5px;
    }
}
@media (max-width: 768px) {
}
@media (max-width: 480px) {
    .knowledgebase.archive .page-header {
        padding-left: 37%;
    }
    .category-listings {
        border-top: none;
    }
    .category-listings .category-column:first-child {
        border-top: 1px solid #dfdfdf;
    }
    .category-listings .category-column:last-of-type {
        margin-bottom: 0;
    }
}
