/**
 * archive category
 */
body.archive.tax-knb-categories.knowledgebase .page-header {
    width: 100%;
    float: none;
}
body.archive.knowledgebase #primary article.knowledgebase {
    width: 100%;
}

body.knowledgebase .pagination {
    border-top-width: 0;
}
.reference-knowledgebase.shortcode .category-listings .category-listing .reference-cat-image,
.has-sidebar.knowledgebase .category-listings .category-listing .reference-cat-image {
}
.knowledgebase .category-listings.columns-3 .category-column:first-child:last-of-type .category-listing:first-child:nth-last-child(3) .reference-cat-image,
.knowledgebase .category-listings.columns-2 .category-column:first-child:last-of-type .category-listing:first-child:nth-last-child(3) .reference-cat-image,
.knowledgebase .category-listings.columns-1 .category-listing .reference-cat-image {
    max-height: none;
}
.knowledgebase .category-listings.columns-3 .category-column:first-child:last-of-type .category-listing:first-child:nth-last-child(3) .letter-thumbnail,
.knowledgebase .category-listings.columns-2 .category-column:first-child:last-of-type .category-listing:first-child:nth-last-child(3) .letter-thumbnail,
.knowledgebase .category-listings.columns-1 .category-listing .reference-cat-image .letter-thumbnail {
    height: 450px;
    font-size: 15em;
    line-height: 350px;
}
.reference-knowledgebase.shortcode .category-listings .reference-cat-image .letter-thumbnail,
.has-sidebar.knowledgebase .category-listings .reference-cat-image .letter-thumbnail {
    position: relative;
    padding: 52px 0;
}
.reference-knowledgebase.shortcode .category-listings .reference-cat-info,
.has-sidebar.knowledgebase .category-listings .reference-cat-info {
    width: 100%;
    max-width: 100%;
    text-align: center;
}

.single-knowledgebase .entry-content ol, ul {
    padding-left: 15px;
}
.single-knowledgebase .reference-menu-container ol li.menu-item-has-children a {
    font-size: 12px;
}
.single-knowledgebase .reference-menu-container ol li a {
    font-size: 10px;
}
.single-knowledgebase #breadcrumbs-wrap {
    margin-bottom: 25px;
}
.single-knowledgebase .reference-has-table-of-content {
    position: static!important;
}
.single-knowledgebase .reference-has-table-of-content .reference-menu-container {
    position: absolute;
    top: 100px;
    left: 25px;
    min-width: 300px;
    max-width: 300px;
}
.single-knowledgebase .reference-menu-container.reference_nav_is_stuck {
    bottom: 0;
}
.single-knowledgebase .reference-menu-container li ol.sub-menu,
    .single-knowledgebase .reference-menu-container li ol.sub-menu li ol,
        .single-knowledgebase .reference-menu-container li ol.sub-menu li ol li ol,
            .single-knowledgebase .reference-menu-container li ol.sub-menu li ol li ol li ol,
                .single-knowledgebase .reference-menu-container li ol.sub-menu li ol li ol li ol li ol {
                    padding-left: 0px;
                }
.single-knowledgebase .reference-menu-container ol > li:before {
    display: none;
}
.single-knowledgebase .reference-single-content {
    min-width: 100%;
}
@media screen and (min-width: 48em) {
    .has-sidebar.single-knowledgebase:not(.error404) #primary {
        width: 75%;
    }
    .has-sidebar.single-knowledgebase #secondary {
        width: 25%;
    }
    .has-sidebar.archive.knowledgebase.tax-knb-categories:not(.error404) .knowledgebase-count,
    .has-sidebar.archive.knowledgebase.tax-knb-categories:not(.error404) article.knowledgebase {
        width: 58%;
    }
}
@media(max-width: 1555px) {
    .single-knowledgebase .reference-has-table-of-content .reference-menu-container {
        -webkit-transition: left 0.5s ease-in-out;
           -moz-transition: left 0.5s ease-in-out;
                transition: left 0.5s ease-in-out;
        left: -240px;
    }
    .single-knowledgebase .reference-has-table-of-content .reference-menu-container:hover {
        left: 25px;
    }
    .single-knowledgebase .reference-has-table-of-content .reference-menu-wrap.is_stuck:before {
        right: -26px;
    }
    .single-knowledgebase .reference-has-table-of-content .reference-menu-wrap.is_stuck:after {
        right: -20px;
    }
    .single-knowledgebase .reference-has-table-of-content .reference-menu-wrap:before,
    .single-knowledgebase .reference-has-table-of-content .reference-menu-wrap:after {
        content: '';
        display: inline-block;
        position: absolute;
    }
    .single-knowledgebase .reference-has-table-of-content .reference-menu-wrap:before {
        width: 25px;
        height: 25px;
        background: #1c1c1c;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        right: -10px;
        top: 25px;
    }
    .single-knowledgebase .reference-has-table-of-content .reference-menu-wrap:after {
        width: 15px;
        height: 2.5px;
        background: #ffffff;
        right: -5px;
        top: 36.5px;
    }
}
@media(max-width: 768px) {
    .single-knowledgebase .reference-has-table-of-content .reference-menu-container {
        left: -280px;
    }
    .knowledgebase .category-listings.columns-3 .category-column:first-child:last-of-type .category-listing:first-child:nth-last-child(3) .letter-thumbnail,
    .knowledgebase .category-listings.columns-2 .category-column:first-child:last-of-type .category-listing:first-child:nth-last-child(3) .letter-thumbnail,
    .knowledgebase .category-listings.columns-1 .category-listing .reference-cat-image .letter-thumbnail {
        font-size: 250px;
        padding: 25% 0;
        height: auto;
        line-height: 150px;
    }
}
@media(max-width: 480px) {
    .knowledgebase .category-listings .category-listing .reference-cat-image {
        max-height: none;
    }
}
